@import "../../responsive.scss";

.hero {
    width: 100vw;
    height: 30em;
    padding-top: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "New Amsterdam", sans-serif;
    background-color: rgba(22, 21, 19, 255);

    @include sm {
        padding-top: 9em;
    }

    @include sm {
        width: 100vw;

    }

    @include md {
        width: 100vw
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        color: white;
        width: 80em;

        gap: 1em;

        .designation {
            font-size: 3em;
            font-weight: bolder;

            @include sm {
                font-size: 1.5em;
            }
        }

        .name {
            font-size: 4em;
            background: linear-gradient(to right, #b821e2, #e28a07);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-weight: bold;

            @include sm {
                font-size: 2em;
            }
        }

        .things {

            font-size: 2em;

        }


        .buttons {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2em;
            gap: 2em;




            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                border: none;
                font-size: 1em;
                border-radius: 9em;
                background: linear-gradient(to right, #b821e2, #e28a07);
                text-decoration: none;
                height: 4em;
                width: 9em;

                &:hover {
                    border: 1px solid white;
                }




            }

            .btn1 {
                padding: 1em;
                width: 11em;

                @include sm {
                    width: 120px;
                    height: 30px;
                    font-size: 15px;
                }

            }

            .btn2 {
                padding: 1em 2em;

                @include sm {
                    width: 80px;
                    height: 30px;
                    font-size: 15px;
                }
            }
        }

    }
}