@import "../../responsive.scss";

.navbar {
    width: 105em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 21, 19, 255);
    position: fixed;
    z-index: 2;



    @include sm {
        width: 100vw;
    }

    @include md {
        width: 100vw;
    }

    .navContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        height: 5em;
        width: 90em;

        gap: 4em;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            scroll-behavior: smooth;
        }

        @include sm {
            width: 90vw;
            gap: 2em;
        }

        @include md {
            width: 90vw;
            gap: 2em;
        }
    }
}